<p>A reading list of books that discuss the collapse of societies, as well as insights into how societies adapt, transform, or reinvent themselves in the face of challenges. Sorted alphabetically by title. Publication year is bolded for ease of identification. </p>

<p>To comment, edit, add content, or to download as a spreadsheet, use the Google Sheets version: <a href='https://docs.google.com/spreadsheets/d/1pX-dNn3xnW2gKM2T1EDCNyxXpCDc4ji3444SPqaCSsA/edit'>Chronicles of Change: Collapse, Resilience, and Humanity&#39;s Path Forward (spreadsheet)</a>. The spreadsheet is used to build this document. Contact a maintainer to have this document refreshed from the spreadsheet.</p>

<p>The links in the book titles will take you to GoodReads.</p>

<p>Descriptions are from various sources: from people who have read the book, from GoodReads, from ChatGPT (GPT-4, v2023-08-03). Use the descriptions to help you decide whether or not to explore the book further, not as a definitive summary.</p>

<p>For more information about this document, or if you're interested in being a co-maintainer, email <a href='mailto:kaminski@istori.com'>Peter Kaminski</a> or <a href='mailto:kenhomer@sonic.net'>Ken Homer</a>.

<p>No copyright. Published under <a href='https://creativecommons.org/publicdomain/zero/1.0/'>Public Domain CC0</a>, all copyright rights waived, no warranties, no liability, no endorsement.</p>

<p>Related: Jerry’s Brain on <a href="https://bra.in/5qa2ME">Societal Collapse</a></p>
